.addReaction {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 169px;
    top: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background: #EDEEF0;
    transition:  background .2s ease;
    border-radius: 100px;
}

.addReaction:hover {
    cursor: pointer;
    background: #f4f9fd;
}

.addEmoji {
    width: 14px;
    height: 15px;
}
.emojiIcons {
    top: -45px;
    position: absolute;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    position: absolute;
    width: 118px;
    height: 32px;
    transform: scale(0);
    transition: all 0.5s ease;
}

.addReaction:focus  .emojiIcons {
    transform: scale(1);
}
