.addReaction {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 169px;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    background: #EDEEF0;
    transition:  background .2s ease;
    border-radius: 100px;
}

.addReaction:hover {
    cursor: pointer;
    background: #f4f9fd;
}

.addEmoji {
    width: 14px;
    height: 15px;
}
.emojiIcons {
    top: -45px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 24px;
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    position: absolute;
    height: 32px;
    transform: scale(0);
    transition: all 0.5s ease;
}

.addReaction:focus  .emojiIcons {
    transform: scale(1);
}

.existing_emojis {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2px 8px;
    position: absolute;
    width: 155px;
    height: 32px;
    left: 10px;
    top: 99px;    
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 100px;
    flex-wrap: wrap;
    top: 140px;
}
.existing_emojis:hover {
    cursor: pointer;
}
 .emoji {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding: 2px 8px;
    width: 54px;
    height: 32px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    background: #F4F4F4;
    margin: .2rem;
    margin-top: 0rem;
}
.emoji span {
    line-height: normal;
}
.size {
    font-size: 12px;
}
 .reacted {
    background: #EDF5FF;
    border: 1px solid #0F62FE;
}
.emoji span:nth-child(2)::before {
    content: " ";
    display: block;
    margin-top: -9px;
}